<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>Servicio de API para la compra y venta de productos</h3>

    <br>

    <h3>Tipos de listados:</h3>
    <ul>
      <li><p><a href="/anuncios">Listado de anuncios en HTML</a></p></li>
      <li><p><a href="/apiv1/anuncios">Listado de anuncios en JSON</a></p></li>
      <li><p><a href="/apiv1/anuncios/tags">Listado de tags en JSON</a></p></li>
    </ul>

    <br>

    <h3>Filtros:</h3>
    <p>Desde ambos listados es posible aplicar filtros usando estos parámetros como query:</p>
    <ul>
      <li><p><b>nombre: </b>Busca por el nombre completo o inicial de un artículo</p></li>
      <li><p><b>venta: </b>Busca por tipo (true -> se vende || false -> se busca)</p></li>
      <li><p><b>precio: </b>Busca por precio ("x-" -> Mayor que x || "x-y" -> Entre x e y || "-y" -> Menor que y) </p></li>
      <li><p><b>tags: </b>Busca por tags o etiquetas ("lifestyle", "motor", "mobile", "work") </p></li>
    </ul>
    <p>También pueden usarse los parámetros <b>skip</b>, <b>limit</b> y <b>sort</b> para paginar y ordenar el listado.</p>
    <p>Ejemplos:</p>
    <ul>
      <li><p><a href="/apiv1/anuncios?nombre=Nintendo&precio=300-350&tags=work">http://localhost:3000/apiv1/anuncios?nombre=Nintendo&precio=300-350&tags=work</a></p></li>
      <li><p><a href="/anuncios?venta=true&precio=100-">http://localhost:3000/anuncios?venta=true&precio=100-</a></p></li>
      <li><p><a href="/apiv1/anuncios?skip=1&limit=1">http://localhost:3000/apiv1/anuncios?skip=1&limit=1</a></p></li>
      <li><p><a href="/anuncios?sort=precio">http://localhost:3000/anuncios?sort=precio</a></p></li>
    </ul>

    <br>

    <h3>Añadir anuncios:</h3>
    <p>Realizando una petición post a la dirección <a href="/apiv1/anuncios">http://localhost:3000/apiv1/anuncios</a> se pueden añadir nuevos anuncios a la base de datos.</p>
  </body>
</html>
